.shopping-cart {
    width: 40%;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

.item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: gray;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
}

.item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
}
.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}
.delete-btn,
.like-btn {
    display: inline-block;
    Cursor: pointer;
}
.delete-btn {
    width: 18px;
    height: 17px;

}

.like-btn {
    position: absolute;
    top: 9px;
    left: 15px;

    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
}

.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
}

.image {
    margin-right: 50px;
    height:100%;
    width:100px;
}

.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

.description span {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}
.description span:last-child {
    margin-top: 8px;
}

.quantity {
    padding-top: 20px;
    margin-right: 60px;
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

.button {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.minus-btn img {
    margin-bottom: 3px;
}
.plus-btn img {
    margin-top: 2px;
}

button:focus,
input:focus {
    outline:0;
}

.wd-image{
    height: 100%;

}

.cart-order-btn {
    margin-bottom: 10px;
}