@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Luxurious+Roman&family=Open+Sans:wght@300&family=Square+Peg&display=swap');

.wd-welcome{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:black;
    font-weight: bold;
}