.wd-privacy{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wd-privacy-content{
    position: relative;
    padding : 28px;
    width : 100%;
    max-width: 600px;
    background-color: white;
}
